{% extends 'base.html' %}

{% block head %}
<title>TaskIT</title>
{% endblock %}


{% block body %}
<div class="card my-5 w-50 text-center mx-auto">
    <div class="card-body">
    <h4>What is TaskIT?</h4>
    <p>A Flask project I created to test SQLAlchemy and Heroku deployments.</p><br>

    <h4>What is TaskIT for?</h4>
    <p>Nothing, its only a proof-of-concept. However, it does 'simulate' a Ticket Manager.</p><br>

    <h4>Can I use this?</h4>
    <p>Sure, the code is available on <a target="_blank" rel="noopener noreferrer" href="https://github.com/s0cketwrench/taskit">Github</a> but it is NOT secure or ready for prod.</p><br>
    
    <h4>What about *?</h4>
    <p>I dunno.. get in touch through <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/s0cketwrench">Twitter</a>.
    </div>
</div>
{% endblock %}
