{% extends 'base.html' %}

{% block head %}
<title>TaskIT</title>
{% endblock %}


{% block body %}

<div class="text-center" style="margin-top:5%">
<form class="form-signin jumbotron" method="POST">
    <h1 class="h1 mb-3 font-weight-normal">TaskIT</h1><br>
    <input type="text" placeholder="Username" name="username" value="{{request.form.username }}"><br><br>
    <input type="password" placeholder="Password" name="password" value="{{request.form.password }}">
    <p class="text-secondary">(use "taskit/taskit" for demo)</p>
    <button class="btn-sm btn-primary" value="Login" type="submit">Log In</button>
</form>

{% if error %}
    <p class="error text-danger"><strong>Error:</strong> {{ error }}
{% endif %}
</div>

{% endblock %}