{% extends 'base.html' %}

{% block head %}
<title>TaskIT</title>
{% endblock %}


{% block body %}
<div class="card mx-5 mt-5">
	<div class="card-header h3">Submit a Ticket</div>
	<div class="card-body">
	<form method="POST" action="./submission">
		<input type="hidden" value="jclarkson" name="ticket_employee">
		
		<div>Select the Priority Level (1 being highest priority):</div>
		  <select class="form-control mt-3" name="ticket_priority">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		  </select>
		 <br>
		 
		 <div>Quick summary:</div>
		<input class="form-control mt-3" type="text" name="ticket_summary"><br>
		 
		<div>Detailed explanation of your issue:</div>
		<textarea class="form-control mt-3" name="ticket_issue" rows="7"></textarea>
		<button class="btn-sm btn-secondary mt-3" value="submit" type="submit">Submit</button>
	</form>
	</div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}